.bite-disclaimer{
    position:relative;
    margin-top: 5%;
    //border: 1px solid black;
}

.bite-note,.bite-terms{
    margin-top: 15px;
    //margin-bottom: 15px;
    margin-left: 2%;
    border: 1px solid #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    font-weight: 300;
    color:#969696;
}